:root {
  --bg-color-primary:#FFE5FF;
  --bg-body:#ffff;
  --btn-primario:rgb(26, 156, 21);
  --btn-text:red;
  --bg-color-primary: #B080B1;
  --btn-primary: #F1F6F6;
  --ba-color-segun: rgb(34, 204, 28);
  --ba-color-text: black;
  --ba-color-dark: rgb(116, 246, 255);
  --ba-color-pink: #bb3fbd;
  --ba-color-purple: rgb(255, 4, 255);
  --ba-color-grey: #333542;

}

.form {
  width: 400px;
  height: 80%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: var(--bg-body);
  border: 2px solid var(--ba-color-text);
  box-shadow: 0 0 20px var(--ba-color-text);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.form-group h3 {
  margin-bottom: 20px;
  color: var(--ba-color-text);
}

.form-group label {
  align-self: flex-start;
  margin-left: 50px;
  margin-bottom: 5px;
}

.form-check-input {
  margin-right: 100px;
}

.form-control {
  width: 80%;
  max-width: 250px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--ba-color-segun);
  border: 2px solid var(--btn-primario);
  color: var(--bg-body);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btnn:hover {
  color: var(--bg-body);
  background-color: var(--btn-primario);
  border: 1px solid var(--btn-primario);
}

/* Para centrar el formulario en la página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-body);
}